.BlocoMaior{
    background-color: blue;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-style: dashed;
}

.Linha{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.Principal{
    width: 100%;
    height: 100vh;
}

.BlocoMenor{
    background-color: yellow;
    width: 50px;
    height: 50px;
}

#B1{
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

#B2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#B3{
    display: flex;

}

#B4{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
}