.BlocoMaior{
    background-color: blue;
    width: 150px;
    height: 150px;
    display: flex;
    border-style: dashed;
}

.Linha{
    width: 100%;
    height: 33%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.Principal{
    width: 100%;
    height: 100vh;
}

.BlocoMenor{
    background-color: yellow;
    width: 50px;
    height: 50px;
}

#B1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

#B2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#B3{
    display: flex;
}

.BlocoDivisorio1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#BD1_1{
    display: flex;
    justify-content: flex-start;
}

#BD1_2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#B4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#B5{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#B6{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

#BD1{
    display: flex;
    justify-content: center;
}

#BD2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#BD3{
    display: flex;
    justify-content: center;
}

.BlocoDivisorio2{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#BD2_1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#BD2_2{
    display: flex;
    justify-content: flex-end;
}

#B7{
    display: flex;
    justify-content: center;
}

#B9{
    display: flex;
    justify-content: center;
    align-items: center;
}

#B10{
    display: flex;
    justify-content: flex-end;
}